<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_OpenPix
 * @copyright   Copyright (c) 2022 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Gamuza_OpenPix>
            <version>0.0.3</version>
        </Gamuza_OpenPix>
    </modules>
    <global>
        <helpers>
            <openpix>
                <class>Gamuza_OpenPix_Helper</class>
            </openpix>
        </helpers>
        <blocks>
            <openpix>
                <class>Gamuza_OpenPix_Block</class>
            </openpix>
        </blocks>
        <models>
            <openpix>
                <class>Gamuza_OpenPix_Model</class>
                <resourceModel>openpix_mysql4</resourceModel>
            </openpix>
            <openpix_mysql4>
                <class>Gamuza_OpenPix_Model_Mysql4</class>
                <entities>
                    <transaction>
                        <table>gamuza_openpix_transaction</table>
                    </transaction>
                </entities>
            </openpix_mysql4>
        </models>
        <resources>
            <openpix_setup>
                <setup>
                    <module>Gamuza_OpenPix</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </openpix_setup>
            <openpix_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </openpix_write>
            <openpix_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </openpix_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <is_openpix>
                    <to_order>*</to_order>
                </is_openpix>
            </sales_convert_quote>
            <sales_convert_order>
                <is_openpix>
                    <to_quote>*</to_quote>
                </is_openpix>
            </sales_convert_order>
            <sales_convert_quote_payment>
                <openpix_url>
                    <to_order_payment>*</to_order_payment>
                </openpix_url>
                <openpix_status>
                    <to_order_payment>*</to_order_payment>
                </openpix_status>
                <openpix_transaction_id>
                    <to_order_payment>*</to_order_payment>
                </openpix_transaction_id>
                <openpix_correlation_id>
                    <to_order_payment>*</to_order_payment>
                </openpix_correlation_id>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <openpix_url>
                    <to_quote_payment>*</to_quote_payment>
                </openpix_url>
                <openpix_status>
                    <to_quote_payment>*</to_quote_payment>
                </openpix_status>
                <openpix_transaction_id>
                    <to_quote_payment>*</to_quote_payment>
                </openpix_transaction_id>
                <openpix_correlation_id>
                    <to_quote_payment>*</to_quote_payment>
                </openpix_correlation_id>
            </sales_convert_order_payment>
        </fieldsets>
        <events>
            <sales_order_place_after>
                <observers>
                    <gamuza_openpix_sales_order_place_after>
                        <class>openpix/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </gamuza_openpix_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <admin_openpix>
                <use>admin</use>
                <args>
                    <module>Gamuza_OpenPix</module>
                    <frontName>admin_openpix</frontName>
                </args>
            </admin_openpix>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <openpix>
                    <file>gamuza/openpix.xml</file>
                </openpix>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gamuza_OpenPix>
                    <files>
                        <default>Gamuza_OpenPix.csv</default>
                    </files>
                </Gamuza_OpenPix>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <openpix>
                <use>standard</use>
                <args>
                    <module>Gamuza_OpenPix</module>
                    <frontName>openpix</frontName>
                </args>
            </openpix>
        </routers>
        <layout>
            <updates>
                <openpix>
                    <file>gamuza/openpix.xml</file>
                </openpix>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gamuza_OpenPix>
                    <files>
                        <default>Gamuza_OpenPix.csv</default>
                    </files>
                </Gamuza_OpenPix>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <gamuza_openpix_transaction>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>openpix/cron::runTransaction</model></run>
            </gamuza_openpix_transaction>
        </jobs>
    </crontab>
    <default>
        <payment>
            <gamuza_openpix_payment>
                <active>0</active>
                <title>Payment via OpenPix - Gamuza Technologies</title>
                <order_status>pending</order_status>
                <paid_status>paid</paid_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <model>openpix/payment_method_payment</model>
                <payment_action>order</payment_action>
            </gamuza_openpix_payment>
        </payment>
    </default>
</config>

