<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_PagSeguroPro
 * @copyright   Copyright (c) 2022 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <tabs>
        <gamuza translate="label" module="gamuza_pagseguropro">
            <label>Gamuza Technologies</label>
            <sort_order>0</sort_order>
        </gamuza>
    </tabs>
    <sections>
        <payment>
            <tab>gamuza</tab>
            <groups>
                <!-- HIDDEN -->
                <pagseguropro_retry>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                </pagseguropro_retry>
                <pagseguropro_redirect>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                </pagseguropro_redirect>
                <rm_pagseguro_kiosk>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                </rm_pagseguro_kiosk>
                <rm_pagseguro_recurring>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                </rm_pagseguro_recurring>
            </groups>
        </payment>
    </sections>
</config>

