<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_PicPay
 * @copyright   Copyright (c) 2020 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Gamuza_PicPay>
            <version>0.0.3</version>
        </Gamuza_PicPay>
    </modules>
    <global>
        <helpers>
            <picpay>
                <class>Gamuza_PicPay_Helper</class>
            </picpay>
        </helpers>
        <blocks>
            <picpay>
                <class>Gamuza_PicPay_Block</class>
            </picpay>
        </blocks>
        <models>
            <picpay>
                <class>Gamuza_PicPay_Model</class>
                <resourceModel>picpay_mysql4</resourceModel>
            </picpay>
            <picpay_mysql4>
                <class>Gamuza_PicPay_Model_Mysql4</class>
                <entities>
                    <transaction>
                        <table>gamuza_picpay_transaction</table>
                    </transaction>
                </entities>
            </picpay_mysql4>
        </models>
        <resources>
            <picpay_setup>
                <setup>
                    <module>Gamuza_PicPay</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </picpay_setup>
            <picpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </picpay_write>
            <picpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </picpay_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <is_picpay>
                    <to_order>*</to_order>
                </is_picpay>
            </sales_convert_quote>
            <sales_convert_order>
                <is_picpay>
                    <to_quote>*</to_quote>
                </is_picpay>
            </sales_convert_order>
            <sales_convert_quote_payment>
                <picpay_url>
                    <to_order_payment>*</to_order_payment>
                </picpay_url>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <picpay_url>
                    <to_quote_payment>*</to_quote_payment>
                </picpay_url>
            </sales_convert_order_payment>
        </fieldsets>
        <events>
            <sales_order_place_after>
                <observers>
                    <gamuza_picpay_sales_order_place_after>
                        <class>picpay/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </gamuza_picpay_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <admin_picpay>
                <use>admin</use>
                <args>
                    <module>Gamuza_PicPay</module>
                    <frontName>admin_picpay</frontName>
                </args>
            </admin_picpay>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <picpay>
                    <file>gamuza/picpay.xml</file>
                </picpay>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gamuza_PicPay>
                    <files>
                        <default>Gamuza_PicPay.csv</default>
                    </files>
                </Gamuza_PicPay>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <picpay>
                <use>standard</use>
                <args>
                    <module>Gamuza_PicPay</module>
                    <frontName>picpay</frontName>
                </args>
            </picpay>
        </routers>
        <layout>
            <updates>
                <picpay>
                    <file>gamuza/picpay.xml</file>
                </picpay>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gamuza_PicPay>
                    <files>
                        <default>Gamuza_PicPay.csv</default>
                    </files>
                </Gamuza_PicPay>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <gamuza_picpay_transaction>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>picpay/cron::runTransaction</model></run>
            </gamuza_picpay_transaction>
        </jobs>
    </crontab>
    <default>
        <payment>
            <gamuza_picpay_payment>
                <active>0</active>
                <title>Gamuza - Payment via PicPay</title>
                <order_status>pending</order_status>
                <paid_status>paid</paid_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <model>picpay/payment_method_payment</model>
                <payment_action>order</payment_action>
            </gamuza_picpay_payment>
        </payment>
    </default>
</config>

