<?xml version="1.0" encoding="utf-8" ?>
<!--
/*
 * @package     Toluca_Responsivebannerslider
 * @copyright   Copyright (c) 2023 Gamuza Technologies (https://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Toluca_Responsivebannerslider>
            <version>0.0.1</version>
        </Toluca_Responsivebannerslider>
    </modules>
    <global>
        <blocks>
            <responsivebannerslider>
                <rewrite>
                    <adminhtml_slidergroup>Toluca_Responsivebannerslider_Block_Adminhtml_Slidergroup</adminhtml_slidergroup>
                    <adminhtml_slidergroup_grid>Toluca_Responsivebannerslider_Block_Adminhtml_Slidergroup_Grid</adminhtml_slidergroup_grid>
                </rewrite>
            </responsivebannerslider>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Toluca_Responsivebannerslider>
                    <files>
                        <default>Toluca_Responsivebannerslider.csv</default>
                    </files>
                </Toluca_Responsivebannerslider>
            </modules>
        </translate>
    </adminhtml>
</config>

