<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_PagCripto
 * @copyright   Copyright (c) 2022 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Library General Public
 * License as published by the Free Software Foundation; either
 * version 2 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Library General Public License for more details.
 *
 * You should have received a copy of the GNU Library General Public
 * License along with this library; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin St, Fifth Floor,
 * Boston, MA 02110-1301, USA.
 */

/**
 * See the AUTHORS file for a list of people on the Gamuza Team.
 * See the ChangeLog files for a list of changes.
 * These files are distributed with gamuza_pagcripto-magento at http://github.com/gamuzatech/.
 */
-->

<config>
    <modules>
        <Gamuza_PagCripto>
            <version>0.0.3</version>
        </Gamuza_PagCripto>
    </modules>
    <global>
        <helpers>
            <pagcripto>
                <class>Gamuza_PagCripto_Helper</class>
            </pagcripto>
        </helpers>
        <blocks>
            <pagcripto>
                <class>Gamuza_PagCripto_Block</class>
            </pagcripto>
        </blocks>
        <models>
            <pagcripto>
                <class>Gamuza_PagCripto_Model</class>
                <resourceModel>pagcripto_mysql4</resourceModel>
            </pagcripto>
            <pagcripto_mysql4>
                <class>Gamuza_PagCripto_Model_Mysql4</class>
                <entities>
                    <transaction>
                        <table>gamuza_pagcripto_transaction</table>
                    </transaction>
                </entities>
            </pagcripto_mysql4>
        </models>
        <resources>
            <pagcripto_setup>
                <setup>
                    <module>Gamuza_PagCripto</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagcripto_setup>
            <pagcripto_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagcripto_write>
            <pagcripto_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagcripto_read>
        </resources>
        <payment>
            <pagcripto>
                <types>
                    <BCH>
                        <code>BCH</code>
                        <name>Bitcoin Cash</name>
                        <order>0</order>
                    </BCH>
                    <BNB>
                        <code>BNB</code>
                        <name>Binance Coin</name>
                        <order>10</order>
                    </BNB>
                    <BUSD>
                        <code>BUSD</code>
                        <name>Binance USD</name>
                        <order>20</order>
                    </BUSD>
                    <BTC>
                        <code>BTC</code>
                        <name>Bitcoin</name>
                        <order>30</order>
                    </BTC>
                    <DASH>
                        <code>DASH</code>
                        <name>Dash</name>
                        <order>40</order>
                    </DASH>
                    <DOGE>
                        <code>DOGE</code>
                        <name>Dogecoin</name>
                        <order>50</order>
                    </DOGE>
                    <ETH>
                        <code>ETH</code>
                        <name>Ethereum</name>
                        <order>60</order>
                    </ETH>
                    <LTC>
                        <code>LTC</code>
                        <name>Litecoin</name>
                        <order>70</order>
                    </LTC>
                    <NANO>
                        <code>NANO</code>
                        <name>Nano</name>
                        <order>80</order>
                    </NANO>
                    <USDC>
                        <code>USDC</code>
                        <name>USD Coin</name>
                        <order>90</order>
                    </USDC>
                    <USDT>
                        <code>USDT</code>
                        <name>Tether</name>
                        <order>100</order>
                    </USDT>
                </types>
            </pagcripto>
        </payment>
        <fieldsets>
            <sales_convert_quote>
                <is_pagcripto>
                    <to_order>*</to_order>
                </is_pagcripto>
            </sales_convert_quote>
            <sales_convert_order>
                <is_pagcripto>
                    <to_quote>*</to_quote>
                </is_pagcripto>
            </sales_convert_order>
            <sales_convert_quote_payment>
                <pagcripto_currency>
                    <to_order_payment>*</to_order_payment>
                </pagcripto_currency>
                <pagcripto_address>
                    <to_order_payment>*</to_order_payment>
                </pagcripto_address>
                <pagcripto_amount>
                    <to_order_payment>*</to_order_payment>
                </pagcripto_amount>
                <pagcripto_payment_request>
                    <to_order_payment>*</to_order_payment>
                </pagcripto_payment_request>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <pagcripto_currency>
                    <to_quote_payment>*</to_quote_payment>
                </pagcripto_currency>
                <pagcripto_address>
                    <to_quote_payment>*</to_quote_payment>
                </pagcripto_address>
                <pagcripto_amount>
                    <to_quote_payment>*</to_quote_payment>
                </pagcripto_amount>
                <pagcripto_payment_request>
                    <to_quote_payment>*</to_quote_payment>
                </pagcripto_payment_request>
            </sales_convert_order_payment>
        </fieldsets>
        <events>
            <sales_order_place_after>
                <observers>
                    <gamuza_pagcripto_sales_order_place_after>
                        <class>pagcripto/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </gamuza_pagcripto_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <admin>
        <routers>
            <admin_pagcripto>
                <use>admin</use>
                <args>
                    <module>Gamuza_PagCripto</module>
                    <frontName>admin_pagcripto</frontName>
                </args>
            </admin_pagcripto>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <pagcripto>
                    <file>gamuza/pagcripto.xml</file>
                </pagcripto>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gamuza_PagCripto>
                    <files>
                        <default>Gamuza_PagCripto.csv</default>
                    </files>
                </Gamuza_PagCripto>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <pagcripto>
                <use>standard</use>
                <args>
                    <module>Gamuza_PagCripto</module>
                    <frontName>pagcripto</frontName>
                </args>
            </pagcripto>
        </routers>
        <layout>
            <updates>
                <pagcripto>
                    <file>gamuza/pagcripto.xml</file>
                </pagcripto>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gamuza_PagCripto>
                    <files>
                        <default>Gamuza_PagCripto.csv</default>
                    </files>
                </Gamuza_PagCripto>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <gamuza_pagcripto_transaction>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>pagcripto/cron::runTransaction</model></run>
            </gamuza_pagcripto_transaction>
        </jobs>
    </crontab>
    <default>
        <payment>
            <gamuza_pagcripto_payment>
                <active>0</active>
                <title>Gamuza - Payment via PagCripto</title>
                <order_status>pending</order_status>
                <paid_status>paid</paid_status>
                <cctypes>BNB,BCH,BTC,BUSD,ETH,DASH,DOGE,LTC,NANO,USDC,USDT</cctypes>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <model>pagcripto/payment_method_payment</model>
                <payment_action>order</payment_action>
            </gamuza_pagcripto_payment>
        </payment>
    </default>
</config>

