<?xml version="1.0"?>
<config>
    <modules>
        <RicardoMartins_PagSeguroPro>
            <version>3.4.5</version>
        </RicardoMartins_PagSeguroPro>
    </modules>
    <global>
        <models>
            <ricardomartins_pagseguropro>
                <class>RicardoMartins_PagSeguroPro_Model</class>
                <resourceModel>ricardomartins_pagseguropro_resource</resourceModel>
            </ricardomartins_pagseguropro>
            <ricardomartins_pagseguropro_resource>
                <class>RicardoMartins_PagSeguroPro_Model_Resource</class>
            </ricardomartins_pagseguropro_resource>
        </models>
        <blocks>
            <ricardomartins_pagseguropro>
                <class>RicardoMartins_PagSeguroPro_Block</class>
            </ricardomartins_pagseguropro>
        </blocks>
        <helpers>
            <ricardomartins_pagseguropro>
                <class>RicardoMartins_PagSeguroPro_Helper</class>
            </ricardomartins_pagseguropro>
        </helpers>
        <sales>
            <order>
                <states>
                    <pending_payment>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
        <events>
            <ricardomartins_pagseguro_before_cancel_order>
                <observers>
                    <ricardomartins_pagseguropro>
                        <type>singleton</type>
                        <class>ricardomartins_pagseguropro/observer</class>
                        <method>beforeOrderCancellation</method>
                    </ricardomartins_pagseguropro>
                </observers>
            </ricardomartins_pagseguro_before_cancel_order>
        </events>
        <template>
            <email>
                <payment_pagseguropro_retry_email_template>
                    <label>PagSeguro Retentativa</label>
                    <file>ricardomartins_pagseguropro/retry.html</file>
                    <type>html</type>
                </payment_pagseguropro_retry_email_template>
            </email>
        </template>
    </global>
    <default>
        <payment>
            <pagseguropro_boleto>
                <active>0</active>
                <allowspecific>0</allowspecific>
                <title>Boleto - via PagSeguro UOL</title>
                <order_status>holded</order_status>
                <payment_action>order</payment_action>
                <model>ricardomartins_pagseguropro/payment_boleto</model>
                <allowspecific>0</allowspecific>
                <!--<specificcountry>BR</specificcountry>-->
            </pagseguropro_boleto>
            <pagseguropro_tef>
                <active>0</active>
                <allowspecific>0</allowspecific>
                <title>Cartão de Débito (TEF) - via PagSeguro UOL</title>
                <order_status>holded</order_status>
                <payment_action>order</payment_action>
                <model>ricardomartins_pagseguropro/payment_tef</model>
                <allowspecific>0</allowspecific>
                <!--<specificcountry>BR</specificcountry>-->
            </pagseguropro_tef>
            <pagseguropro_retry>
                <enabled>1</enabled>
                <days_to_cancel>2</days_to_cancel>
                <send_email>1</send_email>
                <show_link>1</show_link>
                <!--<email_template>ricardomartins_pagseguropro_retry_email_template</email_template>-->
                <layout>one_column</layout>
                <disable_boleto>1</disable_boleto>
            </pagseguropro_retry>
            <pagseguropro_redirect>
                <enabled>1</enabled>
                <model>ricardomartins_pagseguropro/payment_redirect</model>
                <title>PagSeguro - Pagar no PagSeguro</title>
                <payment_action>order</payment_action>
                <description><![CDATA[Você será redirecionado para o PagSeguro onde poderá escolher a forma de pagamento desejada.]]></description>
                <order_status>pending</order_status>
                <sort_order>4</sort_order>
                <enable_recovery>1</enable_recovery>
                <disable_frontend>0</disable_frontend>
                <accepted_groups>CREDIT_CARD,BOLETO</accepted_groups>
            </pagseguropro_redirect>
        </payment>
    </default>
    <frontend>
        <layout>
            <updates>
                <ricardomartins_pagseguropro>
                    <file>ricardomartins_pagseguropro.xml</file>
                </ricardomartins_pagseguropro>
            </updates>
        </layout>
        <routers>
            <pseguropro>
                <use>standard</use>
                <args>
                    <module>RicardoMartins_PagSeguroPro</module>
                    <frontName>pseguropro</frontName>
                </args>
            </pseguropro>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <ricardomartins_pagseguropro_cancel_retry_orders>
                <schedule>
                    <cron_expr>0 */12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>ricardomartins_pagseguropro/retry::cancelExpiredRetryOrders</model>
                </run>
            </ricardomartins_pagseguropro_cancel_retry_orders>
        </jobs>
    </crontab>
</config>