<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_Autocomplete
 * @copyright   Copyright (c) 2022 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Gamuza_Autocomplete>
            <version>0.0.1</version>
        </Gamuza_Autocomplete>
    </modules>
    <global>
        <helpers>
            <autocomplete>
                <class>Gamuza_Autocomplete_Helper</class>
            </autocomplete>
        </helpers>
    </global>
    <frontend>
        <routers>
            <autocomplete>
                <use>standard</use>
                <args>
                    <module>Gamuza_Autocomplete</module>
                    <frontName>autocomplete</frontName>
                </args>
            </autocomplete>
        </routers>
        <layout>
            <updates>
                <autocomplete>
                    <file>gamuza/autocomplete.xml</file>
                </autocomplete>
            </updates>
        </layout>
    </frontend>
</config>

