<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_Bot
 * @copyright   Copyright (c) 2020 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Gamuza_Bot>
            <version>0.0.2</version>
        </Gamuza_Bot>
    </modules>
    <global>
        <helpers>
            <bot>
                <class>Gamuza_Bot_Helper</class>
            </bot>
        </helpers>
        <blocks>
            <bot>
                <class>Gamuza_Bot_Block</class>
            </bot>
        </blocks>
        <models>
            <bot>
                <class>Gamuza_Bot_Model</class>
                <resourceModel>bot_mysql4</resourceModel>
            </bot>
            <bot_mysql4>
                <class>Gamuza_Bot_Model_Mysql4</class>
                <entities>
                    <queue>
                        <table>gamuza_bot_queue</table>
                    </queue>
                </entities>
            </bot_mysql4>
        </models>
        <resources>
            <bot_setup>
                <setup>
                    <module>Gamuza_Bot</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bot_setup>
            <bot_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bot_write>
            <bot_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bot_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <is_bot>
                    <to_order>*</to_order>
                </is_bot>
            </sales_convert_quote>
            <sales_convert_order>
                <is_bot>
                    <to_quote>*</to_quote>
                </is_bot>
            </sales_convert_order>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <admin_bot>
                <use>admin</use>
                <args>
                    <module>Gamuza_Bot</module>
                    <frontName>admin_bot</frontName>
                </args>
            </admin_bot>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bot>
                    <file>gamuza/bot.xml</file>
                </bot>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gamuza_Bot>
                    <files>
                        <default>Gamuza_Bot.csv</default>
                    </files>
                </Gamuza_Bot>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <bot>
                <use>standard</use>
                <args>
                    <module>Gamuza_Bot</module>
                    <frontName>bot</frontName>
                </args>
            </bot>
        </routers>
        <layout>
            <updates>
                <bot>
                    <file>gamuza/bot.xml</file>
                </bot>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gamuza_Bot>
                    <files>
                        <default>Gamuza_Bot.csv</default>
                    </files>
                </Gamuza_Bot>
            </modules>
        </translate>
    </frontend>
</config>

