<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_Brazil
 * @copyright   Copyright (c) 2023 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Gamuza_Brazil>
            <version>0.0.2</version>
        </Gamuza_Brazil>
    </modules>
    <global>
        <helpers>
            <brazil>
                <class>Gamuza_Brazil_Helper</class>
            </brazil>
        </helpers>
        <blocks>
            <brazil>
                <class>Gamuza_Brazil_Block</class>
            </brazil>
        </blocks>
        <models>
            <brazil>
                <class>Gamuza_Brazil_Model</class>
                <resourceModel>brazil_mysql4</resourceModel>
            </brazil>
            <brazil_mysql4>
                <class>Gamuza_Brazil_Model_Mysql4</class>
                <entities />
            </brazil_mysql4>
        </models>
        <resources>
            <brazil_setup>
                <setup>
                    <module>Gamuza_Brazil</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brazil_setup>
            <brazil_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brazil_write>
            <brazil_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brazil_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <is_pix>
                    <to_order>*</to_order>
                </is_pix>
            </sales_convert_quote>
            <sales_convert_order>
                <is_pix>
                    <to_quote>*</to_quote>
                </is_pix>
            </sales_convert_order>
        </fieldsets>
        <events>
            <sales_order_place_after>
                <observers>
                    <gamuza_brazil_sales_order_place_after>
                        <class>brazil/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </gamuza_brazil_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Gamuza_Brazil>
                    <files>
                        <default>Gamuza_Brazil.csv</default>
                    </files>
                </Gamuza_Brazil>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Gamuza_Brazil>
                    <files>
                        <default>Gamuza_Brazil.csv</default>
                    </files>
                </Gamuza_Brazil>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <gamuza_brazil_pix>
                <active>0</active>
                <title>Payment via Pix</title>
                <order_status>pending</order_status>
                <paid_status>paid</paid_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <model>brazil/payment_method_pix</model>
            </gamuza_brazil_pix>
        </payment>
    </default>
</config>

