<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Toluca_Express
 * @copyright   Copyright (c) 2023 Gamuza Technologies (https://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Toluca_Express>
            <version>0.0.1</version>
        </Toluca_Express>
    </modules>
    <global>
        <helpers>
            <express>
                <class>Toluca_Express_Helper</class>
            </express>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Toluca_Express>
                    <files>
                        <default>Toluca_Express.csv</default>
                    </files>
                </Toluca_Express>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <toluca_express>
                <use>standard</use>
                <args>
                    <module>Toluca_Express</module>
                    <frontName>express</frontName>
                </args>
            </toluca_express>
        </routers>
        <translate>
            <modules>
                <Toluca_Express>
                    <files>
                        <default>Toluca_Express.csv</default>
                    </files>
                </Toluca_Express>
            </modules>
        </translate>
        <layout>
            <updates>
                <express>
                     <file>toluca/express.xml</file>
                </express>
            </updates>
        </layout>
    </frontend>
    <default>
        <express>
            <setting>
                <active>1</active>
            </setting>
        </express>
        <web>
            <routers>
                <toluca_express>
                    <area>frontend</area>
                    <class>Toluca_Express_Controller_Router_Express</class>
                </toluca_express>
            </routers>
        </web>
    </default>
</config>

