<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_Basic
 * @copyright   Copyright (c) 2016 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Library General Public
 * License as published by the Free Software Foundation; either
 * version 2 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Library General Public License for more details.
 *
 * You should have received a copy of the GNU Library General Public
 * License along with this library; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin St, Fifth Floor,
 * Boston, MA 02110-1301, USA.
 */

/**
 * See the AUTHORS file for a list of people on the Gamuza Team.
 * See the ChangeLog files for a list of changes.
 * These files are distributed with gamuza_basic-magento at http://github.com/gamuzatech/.
 */
-->

<config>
    <modules>
        <Gamuza_Basic>
            <version>0.0.13</version>
        </Gamuza_Basic>
    </modules>
    <global>
        <helpers>
            <basic>
                <class>Gamuza_Basic_Helper</class>
            </basic>
            <adminhtml>
                <rewrite>
                    <data>Gamuza_Basic_Helper_Adminhtml_Data</data>
                </rewrite>
            </adminhtml>
        </helpers>
        <blocks>
            <basic>
                <class>Gamuza_Basic_Block</class>
            </basic>
            <adminhtml>
                <rewrite>
                    <backup>Gamuza_Basic_Block_Adminhtml_Backup</backup>
                    <catalog_category_tree>Gamuza_Basic_Block_Adminhtml_Catalog_Category_Tree</catalog_category_tree>
                    <catalog_category_tabs>Gamuza_Basic_Block_Adminhtml_Catalog_Category_Tabs</catalog_category_tabs>
                    <catalog_product_edit_tab_attributes>Gamuza_Basic_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                    <catalog_product_edit_tab_options_option>Gamuza_Basic_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                    <catalog_product_edit_tabs>Gamuza_Basic_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                    <catalog_product_grid>Gamuza_Basic_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <customer_edit_tabs>Gamuza_Basic_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                    <customer_grid>Gamuza_Basic_Block_Adminhtml_Customer_Grid</customer_grid>
                    <page_head>Gamuza_Basic_Block_Adminhtml_Page_Head</page_head>
                    <sales_order_grid>Gamuza_Basic_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <widget_grid_column>Gamuza_Basic_Block_Adminhtml_Widget_Grid_Column</widget_grid_column>
                    <sales_order_create_customer_grid>Gamuza_Basic_Block_Adminhtml_Sales_Order_Create_Customer_Grid</sales_order_create_customer_grid>
                    <sales_order_creditmemo_view>Gamuza_Basic_Block_Adminhtml_Sales_Order_Creditmemo_View</sales_order_creditmemo_view>
                    <sales_order_invoice_view>Gamuza_Basic_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
                    <sales_order_shipment_view>Gamuza_Basic_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                    <sales_order_view>Gamuza_Basic_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_order_view_info>Gamuza_Basic_Block_Adminhtml_Sales_Order_View_Info</sales_order_view_info>
                    <template>Gamuza_Basic_Block_Adminhtml_Template</template>
                </rewrite>
            </adminhtml>
            <customer>
                <rewrite>
                    <account_navigation>Gamuza_Basic_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <page>
                <rewrite>
                    <html_head>Gamuza_Basic_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <models>
            <basic>
                <class>Gamuza_Basic_Model</class>
                <resourceModel>basic_mysql4</resourceModel>
            </basic>
            <basic_mysql4>
                <class>Gamuza_Basic_Model_Mysql4</class>
                <entities />
            </basic_mysql4>
            <adminhtml>
                <rewrite>
                    <system_config_source_product_options_type>Gamuza_Basic_Model_Adminhtml_System_Config_Source_Product_Options_Type</system_config_source_product_options_type>
                    <system_config_source_yesno>Gamuza_Basic_Model_Adminhtml_System_Config_Source_Yesno</system_config_source_yesno>
                </rewrite>
            </adminhtml>
            <bundle>
                <rewrite>
                    <product_attribute_source_price_view>Gamuza_Basic_Model_Bundle_Product_Attribute_Source_Price_View</product_attribute_source_price_view>
                    <product_price>Gamuza_Basic_Model_Bundle_Product_Price</product_price>
                    <product_type>Gamuza_Basic_Model_Bundle_Product_Type</product_type>
                    <source_option_type>Gamuza_Basic_Model_Bundle_Source_Option_Type</source_option_type>
                    <observer>Gamuza_Basic_Model_Bundle_Observer</observer>
                </rewrite>
            </bundle>
            <catalog_resource>
                <rewrite>
                    <product_collection>Gamuza_Basic_Model_Catalog_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <core>
                <rewrite>
                    <design_fallback>Gamuza_Basic_Model_Core_Design_Fallback</design_fallback>
                    <locale_config>Gamuza_Basic_Model_Core_Locale_Config</locale_config>
                </rewrite>
            </core>
            <customer>
                <rewrite>
                    <address>Gamuza_Basic_Model_Customer_Address</address>
                </rewrite>
            </customer>
            <eav>
                <rewrite>
                    <entity_type>Gamuza_Basic_Model_Eav_Entity_Type</entity_type>
                </rewrite>
            </eav>
            <importexport>
                <rewrite>
                    <source_export_format>Gamuza_Basic_Model_ImportExport_Source_Export_Format</source_export_format>
                    <source_export_entity>Gamuza_Basic_Model_ImportExport_Source_Export_Entity</source_export_entity>
                    <source_import_entity>Gamuza_Basic_Model_ImportExport_Source_Import_Entity</source_import_entity>
                </rewrite>
            </importexport>
            <sales>
                <rewrite>
                    <quote_address>Gamuza_Basic_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <resources>
            <basic_setup>
                <setup>
                    <module>Gamuza_Basic</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </basic_setup>
            <basic_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </basic_write>
            <basic_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </basic_read>
        </resources>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <bubble_admintheme_admin_predispatch>
                        <class>basic/observer</class>
                        <method>adminhtmlControllerActionPredispatchStart</method>
                    </bubble_admintheme_admin_predispatch>
                </observers>
            </adminhtml_controller_action_predispatch_start>
            <catalog_category_save_after>
                <observers>
                    <admin_basic_catalog_category_save_after>
                        <class>basic/observer</class>
                        <method>catalogCategorySaveAfter</method>
                    </admin_basic_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_product_save_before>
                <observers>
                    <admin_basic_catalog_product_save_before>
                        <class>basic/observer</class>
                        <method>catalogProductSaveBefore</method>
                    </admin_basic_catalog_product_save_before>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <admin_basic_catalog_product_save_after>
                        <class>basic/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </admin_basic_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
        </events>
        <basic>
            <product>
                <options>
                    <custom>
                        <groups>
                            <select translate="label" module="adminhtml">
                                <label>Select</label>
                                <render>adminhtml/catalog_product_edit_tab_options_type_select</render>
                                <types>
                                    <drop_down translate="label" module="adminhtml">
                                        <label>Drop-down</label>
                                    </drop_down>
                                    <checkbox translate="label" module="adminhtml">
                                        <label>Checkbox</label>
                                    </checkbox>
                                </types>
                            </select>
                        </groups>
                    </custom>
                    <bundle>
                        <types>
                            <select translate="label" module="bundle">
                                <label>Drop-down</label>
                            </select>
                            <checkbox translate="label" module="bundle">
                                <label>Checkbox</label>
                            </checkbox>
                        </types>
                    </bundle>
                </options>
            </product>
        </basic>
    </global>
    <admin>
        <routers>
            <admin_basic>
                <use>admin</use>
                <args>
                    <module>Gamuza_Basic</module>
                    <frontName>admin_basic</frontName>
                </args>
            </admin_basic>
            <adminhtml>
                <args>
                    <modules>
                        <gamuza_basic before="Mage_Adminhtml">Gamuza_Basic_Adminhtml</gamuza_basic>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Gamuza_Basic>
                    <files>
                        <default>Gamuza_Basic.csv</default>
                    </files>
                </Gamuza_Basic>
            </modules>
        </translate>
        <layout>
            <updates>
                <basic>
                     <file>gamuza/basic.xml</file>
                </basic>
            </updates>
        </layout>
        <events>
            <adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <basic_adminhtml_cms_page_edit_tab_content_prepare_form>
                        <class>basic/observer</class>
                        <method>adminhtmlCmsPageEditTabContentPrepareForm</method>
                    </basic_adminhtml_cms_page_edit_tab_content_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
        </events>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Gamuza_Basic>
                    <files>
                        <default>Gamuza_Basic.csv</default>
                    </files>
                </Gamuza_Basic>
            </modules>
        </translate>
        <layout>
            <updates>
                <basic>
                     <file>gamuza/basic.xml</file>
                </basic>
            </updates>
        </layout>
    </frontend>
    <default>
        <general>
            <country>
                <default>BR</default>
            </country>
            <region>
                <state_required>BR,AT,BR,CA,CH,DE,EE,ES,FI,FR,LT,LV,RO,US</state_required>
                <display_all>0</display_all>
            </region>
        </general>
        <web>
            <cookie>
                <cookie_lifetime>86400</cookie_lifetime>
            </cookie>
            <session>
                <use_frontend_sid>0</use_frontend_sid>
                <use_admin_sid>1</use_admin_sid>
            </session>
        </web>
        <design>
            <head>
                <default_title>Toluca Store</default_title>
            </head>
            <header>
                <logo_src><![CDATA[images/logo.png]]></logo_src>
                <logo_src_small><![CDATA[images/logo.png]]></logo_src_small>
                <logo_alt>Toluca Store Commerce</logo_alt>
            </header>
            <footer>
                <copyright><![CDATA[Copyright (c) 2021 Gamuza Technologies. All Rights Reserved.]]></copyright>
            </footer>
            <theme>
                <admin>gamuza</admin>
                <default>gamuza</default>
                <fallback>magento2</fallback>
            </theme>
        </design>
        <catalog>
            <frontend>
                <flat_catalog_category>1</flat_catalog_category>
                <flat_catalog_product>1</flat_catalog_product>
            </frontend>
            <search>
                <search_type>3</search_type>
            </search>
            <seo>
                <save_rewrites_history>0</save_rewrites_history>
            </seo>
            <custom_options>
                <date_fields_order><![CDATA[d,m,y]]></date_fields_order>
                <time_format>24h</time_format>
            </custom_options>
        </catalog>
        <cataloginventory>
            <options>
                <show_out_of_stock>1</show_out_of_stock>
            </options>
            <item_options>
                <auto_return>1</auto_return>
            </item_options>
        </cataloginventory>
        <customer>
            <account_share>
                <scope>0</scope>
            </account_share>
            <create_account>
                <email_domain><![CDATA[toluca.com.br]]></email_domain>
            </create_account>
            <password>
                <require_admin_user_to_change_user_password>0</require_admin_user_to_change_user_password>
            </password>
            <address>
                <street_lines>4</street_lines>
                <middlename_show>0</middlename_show>
                <dob_show>opt</dob_show>
                <taxvat_show>opt</taxvat_show>
                <gender_show>opt</gender_show>
            </address>
        </customer>
        <wishlist>
            <general>
                <active>0</active>
            </general>
        </wishlist>
        <sales>
            <minimum_order>
                <active>1</active>
                <amount>0</amount>
            </minimum_order>
            <gift_options>
                <allow_order>0</allow_order>
                <allow_items>0</allow_items>
            </gift_options>
        </sales>
        <sales_email>
            <order>
                <enabled>0</enabled>
            </order>
            <order_comment>
                <enabled>0</enabled>
            </order_comment>
            <invoice>
                <enabled>0</enabled>
            </invoice>
            <invoice_comment>
                <enabled>0</enabled>
            </invoice_comment>
            <shipment>
                <enabled>0</enabled>
            </shipment>
            <shipment_comment>
                <enabled>0</enabled>
            </shipment_comment>
            <creditmemo>
                <enabled>0</enabled>
            </creditmemo>
            <creditmemo_comment>
                <enabled>0</enabled>
            </creditmemo_comment>
        </sales_email>
        <tax>
            <defaults>
                <country>BR</country>
            </defaults>
        </tax>
        <shipping>
            <origin>
                <country_id>BR</country_id>
            </origin>
            <option>
                <checkout_multiple>0</checkout_multiple>
            </option>
        </shipping>
        <admin>
            <startup>
                <page>sales/order</page>
            </startup>
            <security>
                <session_cookie_lifetime>86400</session_cookie_lifetime>
                <validate_formkey_checkout>1</validate_formkey_checkout>
            </security>
        </admin>
        <hints>
            <store_switcher>
                <url/>
                <enabled>0</enabled>
            </store_switcher>
        </hints>
        <system>
            <cron>
                <enableRunNow>1</enableRunNow>
                <showCronUserMessage>0</showCronUserMessage>
            </cron>
            <smtp>
                <disable>1</disable>
            </smtp>
            <log>
                <enable_log>2</enable_log>
            </log>
            <adminnotification>
                <feed_url>www.toluca.com.br/media/sitemap/notifications.rss</feed_url>
                <popup_url>www.toluca.com.br/notificationPopup</popup_url>
                <severity_icons_url>www.toluca.com.br/media/widgets/%s/%s.gif</severity_icons_url>
                <use_https>1</use_https>
            </adminnotification>
            <backup>
                <enabled>1</enabled>
                <type>media</type>
                <maintenance>0</maintenance>
            </backup>
        </system>
        <advanced>
            <modules_disable_output>
                <Mage_Backup>0</Mage_Backup>
            </modules_disable_output>
        </advanced>
        <dev>
            <js>
                <merge_files>1</merge_files>
            </js>
            <css>
                <merge_css_files>1</merge_css_files>
            </css>
        </dev>
        <payment>
            <cashondelivery>
                <active>1</active>
            </cashondelivery>
        </payment>
    </default>
</config>

