<?xml version="1.0"?>
<config>
    <modules>
        <RicardoMartins_PagSeguro>
            <version>3.15.3</version>
        </RicardoMartins_PagSeguro>
    </modules>
    <global>
        <models>
            <ricardomartins_pagseguro>
                <class>RicardoMartins_PagSeguro_Model</class>
                <resourceModel>ricardomartins_pagseguro_resource</resourceModel>
            </ricardomartins_pagseguro>
            <ricardomartins_pagseguro_resource>
                <class>RicardoMartins_PagSeguro_Model_Resource</class>
                <entities>
                    <kiosk>
                        <table>ricardomartins_pagseguro_kiosk</table>
                    </kiosk>
                </entities>
            </ricardomartins_pagseguro_resource>
        </models>
        <blocks>
            <ricardomartins_pagseguro>
                <class>RicardoMartins_PagSeguro_Block</class>
            </ricardomartins_pagseguro>
        </blocks>
        <helpers>
            <ricardomartins_pagseguro>
                <class>RicardoMartins_PagSeguro_Helper</class>
            </ricardomartins_pagseguro>
        </helpers>
        <resources>
            <ricardomartins_pagseguro_setup>
                <setup>
                    <module>RicardoMartins_PagSeguro</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ricardomartins_pagseguro_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <adminhtml_controller_action_predispatch_start>
                        <type>model</type>
                        <class>ricardomartins_pagseguro/observer</class>
                        <method>validateRecurringProfile</method>
                    </adminhtml_controller_action_predispatch_start>
                </observers>
            </catalog_product_save_after>
            <core_abstract_save_before>
                <observers>
                    <update_recurring_customer_id>
                        <type>model</type>
                        <class>ricardomartins_pagseguro/observer</class>
                        <method>updateRecurringCustomerId</method>
                    </update_recurring_customer_id>
                </observers>
            </core_abstract_save_before>
            <order_cancel_after>
                <observers>
                    <rm_ps_void_order_transactions>
                        <type>model</type>
                        <class>ricardomartins_pagseguro/observer</class>
                        <method>voidOrderTransactions</method>
                    </rm_ps_void_order_transactions>
                </observers>
            </order_cancel_after>
        </events>
    </global>
    <frontend>
        <routers>
            <ricardomartins_pagseguro>
                <use>standard</use>
                <args>
                    <module>RicardoMartins_PagSeguro</module>
                    <frontName>pseguro</frontName>
                </args>
            </ricardomartins_pagseguro>
        </routers>
        <translate>
            <modules>
                <ricardomartins_pagseguro>
                    <files>
                        <default>RicardoMartins_PagSeguro.csv</default>
                    </files>
                </ricardomartins_pagseguro>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <pagseguro>
                        <class>ricardomartins_pagseguro/observer</class>
                        <method>addDirectPaymentBlock</method>
                    </pagseguro>
                </observers>
            </core_block_abstract_to_html_after>
            <ricardomartins_pagseguro_kioskorder_notification_received>
                <observers>
                    <kiosk_notification>
                        <class>ricardomartins_pagseguro/kiosk</class>
                        <method>createOrderFromNotification</method>
                    </kiosk_notification>
                </observers>
            </ricardomartins_pagseguro_kioskorder_notification_received>
        </events>
        <layout>
            <updates>
                <ricardomartins_pagseguro>
                    <file>ricardomartins_pagseguro.xml</file>
                </ricardomartins_pagseguro>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ricardomartins_pagseguro>
                    <file>ricardomartins_pagseguro/pagseguro.xml</file>
                </ricardomartins_pagseguro>
                <ricardomartins_pagseguro_recurring>
                    <file>ricardomartins_pagseguro/sales.xml</file>
                </ricardomartins_pagseguro_recurring>
            </updates>
        </layout>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <ricardomartins_pagseguro_healthcheck>
                        <type>singleton</type>
                        <class>ricardomartins_pagseguro/healthcheck</class>
                        <method>basicCheck</method>
                    </ricardomartins_pagseguro_healthcheck>
                </observers>
            </admin_session_user_login_success>
            <admin_system_config_changed_section_payment>
                <observers>
                    <ricardomartins_pagseguro_healthcheck>
                        <type>singleton</type>
                        <class>ricardomartins_pagseguro/healthcheck</class>
                        <method>check</method>
                    </ricardomartins_pagseguro_healthcheck>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
        <translate>
            <modules>
                <ricardomartins_pagseguro>
                    <files>
                        <default>RicardoMartins_PagSeguro.csv</default>
                    </files>
                </ricardomartins_pagseguro>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <pagseguro_cc>
                <model>ricardomartins_pagseguro/payment_ccview</model>
                <title>Cartão de Crédito - via PagSeguro UOL (antigo)</title>
            </pagseguro_cc>
            <rm_pagseguro_cc>
                <active>0</active>
                <title>Cartão de Crédito - via PagSeguro UOL</title>
                <order_status>pending</order_status>
                <paid_status>paid</paid_status>
                <allowspecific>0</allowspecific>
                <flag>42x20</flag>
                <payment_action>order</payment_action>
                <model>ricardomartins_pagseguro/payment_cc</model>
                <allowspecific>0</allowspecific>
                <send_neworder_email>0</send_neworder_email>
                <!--<specificcountry>BR</specificcountry>-->
                <group_restriction>0</group_restriction>
                <info_brl>1</info_brl>
                <owner_dob_attribute>dob</owner_dob_attribute>
                <show_total>1</show_total>
                <installment_limit>1</installment_limit>
                <force_installments_selection>0</force_installments_selection>
                <installments_product>0</installments_product>
                <sort_order>1</sort_order>
            </rm_pagseguro_cc>
            <rm_pagseguro>
                <customer_cpf_attribute>customer|taxvat</customer_cpf_attribute>
                <address_telephone_attribute>fax</address_telephone_attribute>
                <address_street_attribute>street_1</address_street_attribute>
                <address_number_attribute>street_2</address_number_attribute>
                <address_complement_attribute>street_3</address_complement_attribute>
                <address_neighborhood_attribute>street_4</address_neighborhood_attribute>
                <notification_url_nosid>1</notification_url_nosid>
                <ws_url>https://ws.pagseguro.uol.com.br/v2/</ws_url>
                <ws_url_app>https://ws.ricardomartins.net.br/pspro/v7/wspagseguro/v2/</ws_url_app>
                <js_url>https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js</js_url>
                <sandbox_ws_url>https://ws.sandbox.pagseguro.uol.com.br/v2/</sandbox_ws_url>
                <sandbox_ws_url_app>https://ws.ricardomartins.net.br/pspro/v7/wspagseguro/v2/</sandbox_ws_url_app>
                <sandbox_js_url>https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js</sandbox_js_url>
                <exception_request_validate>onestepcheckout/ajax/savePaymentMethod</exception_request_validate>
                <jsdelivr_enabled>1</jsdelivr_enabled>
                <jsdelivr_minify>1</jsdelivr_minify>
                <stc_mirror>1</stc_mirror>
                <updater_enabled>1</updater_enabled>
                <send_status_change_email>0</send_status_change_email>
            </rm_pagseguro>
            <rm_pagseguro_kiosk>
                <active>0</active>
                <title>Pagamento avulso - via PagSeguro UOL</title>
                <order_status>pending</order_status>
                <model>ricardomartins_pagseguro/payment_kiosk</model>
                <allowspecific>0</allowspecific>
                <send_neworder_email>1</send_neworder_email>
            </rm_pagseguro_kiosk>
            <rm_pagseguro_recurring>
                <active>0</active>
                <title>Cartão de Crédito Recorrente - via PagSeguro UOL</title>
                <!--                <order_status>pending</order_status>-->
                <allowspecific>0</allowspecific>
                <flag>42x20</flag>
                <payment_action>order</payment_action>
                <model>ricardomartins_pagseguro/payment_recurring</model>
                <allowspecific>0</allowspecific>
                <send_neworder_email>1</send_neworder_email>
                <sort_order>40</sort_order>
                <group_restriction>0</group_restriction>
                <info_brl>1</info_brl>
            </rm_pagseguro_recurring>
            <!--Para referencia-->
            <!--<paypal_express>
                <model>paypal/express</model>
                <title>PayPal Express Checkout</title>
                <payment_action>Authorization</payment_action>
                <solution_type>Mark</solution_type>
                <line_items_enabled>1</line_items_enabled>
                <visible_on_cart>1</visible_on_cart>
                <visible_on_product>1</visible_on_product>
                <allow_ba_signup>never</allow_ba_signup>
                <group>paypal</group>
                <authorization_honor_period>3</authorization_honor_period>
                <order_valid_period>29</order_valid_period>
                <child_authorization_number>1</child_authorization_number>
                <verify_peer>1</verify_peer>
                <skip_order_review_step>1</skip_order_review_step>
            </paypal_express>-->
        </payment>
        <carriers>
            <rm_pagseguro>
                <active>1</active>
                <model>ricardomartins_pagseguro/carrier_kiosk</model>
            </rm_pagseguro>
        </carriers>
    </default>
    <phpunit>
        <suite>
            <modules>
                <RicardoMartins_PagSeguro/>
            </modules>
        </suite>
    </phpunit>
    <crontab>
        <jobs>
            <ricardomartins_pagseguro_recurring_update>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ricardomartins_pagseguro/cron::updateRecurringPayments</model>
                </run>
            </ricardomartins_pagseguro_recurring_update>
            <ricardomartins_pagseguro_update_orders>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ricardomartins_pagseguro/updater::updateOrders</model>
                </run>
            </ricardomartins_pagseguro_update_orders>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <RicardoMartins_PagSeguro before="-">RicardoMartins_PagSeguro_Adminhtml</RicardoMartins_PagSeguro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
