<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Toluca_PDV
 * @copyright   Copyright (c) 2022 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Toluca_PDV>
            <version>0.0.3</version>
        </Toluca_PDV>
    </modules>
    <global>
        <helpers>
            <pdv>
                <class>Toluca_PDV_Helper</class>
            </pdv>
        </helpers>
        <blocks>
            <pdv>
                <class>Toluca_PDV_Block</class>
            </pdv>
        </blocks>
        <models>
            <pdv>
                <class>Toluca_PDV_Model</class>
                <resourceModel>pdv_mysql4</resourceModel>
            </pdv>
            <pdv_mysql4>
                <class>Toluca_PDV_Model_Mysql4</class>
                <entities>
                    <item>
                        <table>toluca_pdv_item</table>
                    </item>
                    <user>
                        <table>toluca_pdv_user</table>
                    </user>
                </entities>
            </pdv_mysql4>
        </models>
        <resources>
            <pdv_setup>
                <setup>
                    <module>Toluca_PDV</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pdv_setup>
            <pdv_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pdv_write>
            <pdv_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pdv_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <is_pdv>
                    <to_order>*</to_order>
                </is_pdv>
                <pdv_type>
                    <to_order>*</to_order>
                </pdv_type>
            </sales_convert_quote>
            <sales_convert_order>
                <is_pdv>
                    <to_quote>*</to_quote>
                </is_pdv>
                <pdv_type>
                    <to_quote>*</to_quote>
                </pdv_type>
            </sales_convert_order>
        </fieldsets>
        <events>
            <sales_order_save_after>
                <observers>
                    <pdv_sales_order_save_after>
                        <class>Toluca_PDV_Model_Observer</class>
                        <method>salesOrderSaveAfter</method>
                    </pdv_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <admin_pdv>
                <use>admin</use>
                <args>
                    <module>Toluca_PDV</module>
                    <frontName>admin_pdv</frontName>
                </args>
            </admin_pdv>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <pdv>
                    <file>toluca/pdv.xml</file>
                </pdv>
            </updates>
        </layout>
        <translate>
            <modules>
                <Toluca_PDV>
                    <files>
                        <default>Toluca_PDV.csv</default>
                    </files>
                </Toluca_PDV>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Toluca_PDV>
                    <files>
                        <default>Toluca_PDV.csv</default>
                    </files>
                </Toluca_PDV>
            </modules>
        </translate>
    </frontend>
    <default>
        <pdv>
            <payment_method>
                <cashondelivery>cashondelivery</cashondelivery>
            </payment_method>
        </pdv>
    </default>
</config>

