<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_Basic
 * @copyright   Copyright (c) 2016 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <modules>
        <Gamuza_Basic>
            <version>0.0.20</version>
        </Gamuza_Basic>
    </modules>
    <global>
        <helpers>
            <basic>
                <class>Gamuza_Basic_Helper</class>
            </basic>
            <adminhtml>
                <rewrite>
                    <data>Gamuza_Basic_Helper_Adminhtml_Data</data>
                </rewrite>
            </adminhtml>
        </helpers>
        <blocks>
            <basic>
                <class>Gamuza_Basic_Block</class>
            </basic>
            <adminhtml>
                <rewrite>
                    <api_user_grid>Gamuza_Basic_Block_Adminhtml_Api_User_Grid</api_user_grid>
                    <backup>Gamuza_Basic_Block_Adminhtml_Backup</backup>
                    <catalog_category_tree>Gamuza_Basic_Block_Adminhtml_Catalog_Category_Tree</catalog_category_tree>
                    <catalog_category_tabs>Gamuza_Basic_Block_Adminhtml_Catalog_Category_Tabs</catalog_category_tabs>
                    <catalog_product>Gamuza_Basic_Block_Adminhtml_Catalog_Product</catalog_product>
                    <catalog_product_edit_tab_attributes>Gamuza_Basic_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                    <catalog_product_edit_tab_options_option>Gamuza_Basic_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                    <catalog_product_edit_tabs>Gamuza_Basic_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                    <catalog_product_grid>Gamuza_Basic_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <customer_edit_tabs>Gamuza_Basic_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                    <customer_grid>Gamuza_Basic_Block_Adminhtml_Customer_Grid</customer_grid>
                    <customer_group_edit_form>Gamuza_Basic_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                    <customer_group_grid>Gamuza_Basic_Block_Adminhtml_Customer_Group_Grid</customer_group_grid>
                    <customer_online_grid>Gamuza_Basic_Block_Adminhtml_Customer_Online_Grid</customer_online_grid>
                    <page_head>Gamuza_Basic_Block_Adminhtml_Page_Head</page_head>
                    <permissions_user_grid>Gamuza_Basic_Block_Adminhtml_Permissions_User_Grid</permissions_user_grid>
                    <sales_order_grid>Gamuza_Basic_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_order_create_customer_grid>Gamuza_Basic_Block_Adminhtml_Sales_Order_Create_Customer_Grid</sales_order_create_customer_grid>
                    <sales_order_creditmemo_view>Gamuza_Basic_Block_Adminhtml_Sales_Order_Creditmemo_View</sales_order_creditmemo_view>
                    <sales_order_invoice_view>Gamuza_Basic_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
                    <sales_order_shipment_view>Gamuza_Basic_Block_Adminhtml_Sales_Order_Shipment_View</sales_order_shipment_view>
                    <sales_order_view>Gamuza_Basic_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_order_view_info>Gamuza_Basic_Block_Adminhtml_Sales_Order_View_Info</sales_order_view_info>
                    <template>Gamuza_Basic_Block_Adminhtml_Template</template>
                    <widget_grid_column>Gamuza_Basic_Block_Adminhtml_Widget_Grid_Column</widget_grid_column>
                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <cart_shipping>Gamuza_Basic_Block_Checkout_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
            <customer>
                <rewrite>
                    <account_navigation>Gamuza_Basic_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <page>
                <rewrite>
                    <html_head>Gamuza_Basic_Block_Page_Html_Head</html_head>
                    <html_header>Gamuza_Basic_Block_Page_Html_Header</html_header>
                </rewrite>
            </page>
            <aoe_scheduler>
                <rewrite>
                    <adminhtml_scheduler>Gamuza_Basic_Block_Aoe_Scheduler_Adminhtml_Scheduler</adminhtml_scheduler>
                    <adminhtml_timeline>Gamuza_Basic_Block_Aoe_Scheduler_Adminhtml_Timeline</adminhtml_timeline>
                </rewrite>
            </aoe_scheduler>
        </blocks>
        <models>
            <basic>
                <class>Gamuza_Basic_Model</class>
                <resourceModel>basic_mysql4</resourceModel>
            </basic>
            <basic_mysql4>
                <class>Gamuza_Basic_Model_Mysql4</class>
                <entities>
                    <eav_entity_attribute_option_value>
                        <table>eav_attribute_option_value</table>
                    </eav_entity_attribute_option_value>
                    <order_service>
                        <table>basic_order_service</table>
                    </order_service>
                </entities>
            </basic_mysql4>
            <adminhtml>
                <rewrite>
                    <system_config_source_product_options_type>Gamuza_Basic_Model_Adminhtml_System_Config_Source_Product_Options_Type</system_config_source_product_options_type>
                    <system_config_source_yesno>Gamuza_Basic_Model_Adminhtml_System_Config_Source_Yesno</system_config_source_yesno>
                </rewrite>
            </adminhtml>
            <api>
                <rewrite>
                    <session>Gamuza_Basic_Model_Api_Session</session>
                </rewrite>
            </api>
            <bundle>
                <rewrite>
                    <product_attribute_source_price_view>Gamuza_Basic_Model_Bundle_Product_Attribute_Source_Price_View</product_attribute_source_price_view>
                    <product_price>Gamuza_Basic_Model_Bundle_Product_Price</product_price>
                    <product_type>Gamuza_Basic_Model_Bundle_Product_Type</product_type>
                    <source_option_type>Gamuza_Basic_Model_Bundle_Source_Option_Type</source_option_type>
                    <observer>Gamuza_Basic_Model_Bundle_Observer</observer>
                </rewrite>
            </bundle>
            <catalog>
                <rewrite>
                    <category>Gamuza_Basic_Model_Catalog_Category</category>
                    <product_image>Gamuza_Basic_Model_Catalog_Product_image</product_image>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_collection>Gamuza_Basic_Model_Catalog_Resource_Product_Collection</product_collection>
                    <product_flat_indexer>Gamuza_Basic_Model_Catalog_Resource_Product_Flat_Indexer</product_flat_indexer>
                </rewrite>
            </catalog_resource>
            <core>
                <rewrite>
                    <design_fallback>Gamuza_Basic_Model_Core_Design_Fallback</design_fallback>
                    <locale_config>Gamuza_Basic_Model_Core_Locale_Config</locale_config>
                </rewrite>
            </core>
            <catalog>
                <rewrite>
                    <product_option>Gamuza_Basic_Model_Catalog_Product_Option</product_option>
                    <product_type_configurable>Gamuza_Basic_Model_Catalog_Product_Type_Configurable</product_type_configurable>
                    <observer>Gamuza_Basic_Model_Catalog_Observer</observer>
                </rewrite>
            </catalog>
            <customer>
                <rewrite>
                    <customer>Gamuza_Basic_Model_Customer_Customer</customer>
                    <address>Gamuza_Basic_Model_Customer_Address</address>
                </rewrite>
            </customer>
            <customer_resource>
                <rewrite>
                    <customer>Gamuza_Basic_Model_Customer_Resource_Customer</customer>
                    <address>Gamuza_Basic_Model_Customer_Resource_Address</address>
                    <group_collection>Gamuza_Basic_Model_Customer_Resource_Group_Collection</group_collection>
                </rewrite>
            </customer_resource>
            <directory>
                <rewrite>
                    <region>Gamuza_Basic_Model_Directory_Region</region>
                </rewrite>
            </directory>
            <directory_resource>
                <rewrite>
                    <region>Gamuza_Basic_Model_Directory_Resource_Region</region>
                </rewrite>
            </directory_resource>
            <eav>
                <rewrite>
                    <entity_type>Gamuza_Basic_Model_Eav_Entity_Type</entity_type>
                </rewrite>
            </eav>
            <importexport>
                <rewrite>
                    <source_export_format>Gamuza_Basic_Model_ImportExport_Source_Export_Format</source_export_format>
                    <source_export_entity>Gamuza_Basic_Model_ImportExport_Source_Export_Entity</source_export_entity>
                    <source_import_entity>Gamuza_Basic_Model_ImportExport_Source_Import_Entity</source_import_entity>
                </rewrite>
            </importexport>
            <install>
                <rewrite>
                    <installer>Gamuza_Basic_Model_Install_Installer</installer>
                </rewrite>
            </install>
            <sales>
                <rewrite>
                    <order>Gamuza_Basic_Model_Sales_Order</order>
                    <quote_address>Gamuza_Basic_Model_Sales_Quote_Address</quote_address>
                    <quote_item>Gamuza_Basic_Model_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <quote>Gamuza_Basic_Model_Sales_Resource_Quote</quote>
                </rewrite>
            </sales_resource>
        </models>
        <resources>
            <basic_setup>
                <setup>
                    <module>Gamuza_Basic</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </basic_setup>
            <basic_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </basic_write>
            <basic_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </basic_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <customer_cellphone>
                    <to_order>*</to_order>
                </customer_cellphone>
                <is_service>
                    <to_order>*</to_order>
                </is_service>
            </sales_convert_quote>
            <sales_convert_order>
                <customer_cellphone>
                    <to_quote>*</to_quote>
                </customer_cellphone>
                <is_service>
                    <to_quote>*</to_quote>
                </is_service>
            </sales_convert_order>
            <!-- Address -->
            <sales_copy_order_billing_address>
                <cellphone>
                    <to_order>*</to_order>
                </cellphone>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <cellphone>
                    <to_order>*</to_order>
                </cellphone>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <cellphone>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </cellphone>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <cellphone>
                    <to_quote_address>*</to_quote_address>
                </cellphone>
            </sales_convert_order_address>
            <customer_address>
                <cellphone>
                    <to_quote_address>*</to_quote_address>
                </cellphone>
            </customer_address>
            <checkout_onepage_billing>
                <cellphone>
                    <to_customer>*</to_customer>
                </cellphone>
            </checkout_onepage_billing>
        </fieldsets>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <bubble_admintheme_admin_predispatch>
                        <class>basic/observer</class>
                        <method>adminhtmlControllerActionPredispatchStart</method>
                    </bubble_admintheme_admin_predispatch>
                </observers>
            </adminhtml_controller_action_predispatch_start>
            <catalog_category_save_after>
                <observers>
                    <admin_basic_catalog_category_save_after>
                        <class>basic/observer</class>
                        <method>catalogCategorySaveAfter</method>
                    </admin_basic_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_product_save_before>
                <observers>
                    <admin_basic_catalog_product_save_before>
                        <class>basic/observer</class>
                        <method>catalogProductSaveBefore</method>
                    </admin_basic_catalog_product_save_before>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <admin_basic_catalog_product_save_after>
                        <class>basic/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </admin_basic_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <order_cancel_after>
                <observers>
                    <admin_basic_order_cancel_after>
                        <class>basic/observer</class>
                        <method>orderCancelAfter</method>
                    </admin_basic_order_cancel_after>
                </observers>
            </order_cancel_after>
            <sales_order_place_after>
                <observers>
                    <admin_basic_sales_order_place_after>
                        <class>basic/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </admin_basic_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_preparing_after>
                <observers>
                    <admin_basic_sales_order_preparing_after>
                        <class>basic/observer</class>
                        <method>salesOrderPreparingAfter</method>
                    </admin_basic_sales_order_preparing_after>
                </observers>
            </sales_order_preparing_after>
            <sales_order_delivered_after>
                <observers>
                    <admin_basic_sales_order_delivered_after>
                        <class>basic/observer</class>
                        <method>salesOrderDeliveredAfter</method>
                    </admin_basic_sales_order_delivered_after>
                </observers>
            </sales_order_delivered_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <admin_basic_sales_order_creditmemo_refund>
                        <class>basic/observer</class>
                        <method>salesOrderCreditmemoRefund</method>
                    </admin_basic_sales_order_creditmemo_refund>
                </observers>
            </sales_order_creditmemo_refund>
        </events>
        <pdf>
            <order>
                <default>basic/sales_order_pdf_items_order_default</default>
                <grouped>basic/sales_order_pdf_items_order_grouped</grouped>
            </order>
            <service>
                <default>basic/sales_order_pdf_items_service_default</default>
                <grouped>basic/sales_order_pdf_items_service_grouped</grouped>
            </service>
        </pdf>
        <catalog>
            <product>
                <type>
                    <service translate="label" module="basic">
                        <label>Service Product</label>
                        <model>basic/catalog_product_type_service</model>
                        <composite>0</composite>
                        <is_qty>0</is_qty>
                        <can_use_qty_decimals>0</can_use_qty_decimals>
                        <index_priority>100</index_priority>
                    </service>
                </type>
            </product>
        </catalog>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <image/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <basic>
            <product>
                <options>
                    <custom>
                        <groups>
                            <select translate="label" module="adminhtml">
                                <label>Select</label>
                                <render>adminhtml/catalog_product_edit_tab_options_type_select</render>
                                <types>
                                    <drop_down translate="label" module="adminhtml">
                                        <label>Drop-down</label>
                                    </drop_down>
                                    <checkbox translate="label" module="adminhtml">
                                        <label>Checkbox</label>
                                    </checkbox>
                                </types>
                            </select>
                        </groups>
                    </custom>
                    <bundle>
                        <types>
                            <select translate="label" module="bundle">
                                <label>Drop-down</label>
                            </select>
                            <checkbox translate="label" module="bundle">
                                <label>Checkbox</label>
                            </checkbox>
                        </types>
                    </bundle>
                </options>
            </product>
        </basic>
    </global>
    <admin>
        <routers>
            <admin_basic>
                <use>admin</use>
                <args>
                    <module>Gamuza_Basic</module>
                    <frontName>admin_basic</frontName>
                </args>
            </admin_basic>
            <adminhtml>
                <args>
                    <modules>
                        <gamuza_basic before="Mage_Adminhtml">Gamuza_Basic_Adminhtml</gamuza_basic>
                    </modules>
                </args>
            </adminhtml>
        </routers>
        <fieldsets>
            <customer_dataflow>
                <cellphone>
                    <billing>1</billing>
                    <shipping>1</shipping>
                </cellphone>
            </customer_dataflow>
        </fieldsets>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Gamuza_Basic>
                    <files>
                        <default>Gamuza_Basic.csv</default>
                    </files>
                </Gamuza_Basic>
            </modules>
        </translate>
        <layout>
            <updates>
                <basic>
                     <file>gamuza/basic.xml</file>
                </basic>
            </updates>
        </layout>
        <events>
            <adminhtml_cms_page_edit_tab_content_prepare_form>
                <observers>
                    <basic_adminhtml_cms_page_edit_tab_content_prepare_form>
                        <class>basic/observer</class>
                        <method>adminhtmlCmsPageEditTabContentPrepareForm</method>
                    </basic_adminhtml_cms_page_edit_tab_content_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_content_prepare_form>
        </events>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Gamuza_Basic>
                    <files>
                        <default>Gamuza_Basic.csv</default>
                    </files>
                </Gamuza_Basic>
            </modules>
        </translate>
        <layout>
            <updates>
                <basic>
                     <file>gamuza/basic.xml</file>
                </basic>
            </updates>
        </layout>
        <product>
            <collection>
                <attributes>
                    <brand />
                    <color />
                    <sku_position />
                    <size />
                </attributes>
            </collection>
        </product>
    </frontend>
    <default>
        <general>
            <country>
                <default>BR</default>
            </country>
            <region>
                <state_required>BR,AT,BR,CA,CH,DE,EE,ES,FI,FR,LT,LV,RO,US</state_required>
                <display_all>0</display_all>
            </region>
        </general>
        <web>
            <cookie>
                <cookie_lifetime>86400</cookie_lifetime>
                <cookie_path><![CDATA[/]]></cookie_path>
            </cookie>
            <session>
                <use_frontend_sid>0</use_frontend_sid>
                <use_admin_sid>1</use_admin_sid>
            </session>
        </web>
        <design>
            <head>
                <default_title>Toluca Store</default_title>
            </head>
            <header>
                <logo_src><![CDATA[images/logo.png]]></logo_src>
                <logo_src_small><![CDATA[images/logo.png]]></logo_src_small>
                <logo_alt>Toluca Store Commerce</logo_alt>
            </header>
            <footer>
                <copyright><![CDATA[Copyright (c) 2021 Gamuza Technologies. All Rights Reserved.]]></copyright>
            </footer>
            <theme>
                <admin>gamuza</admin>
                <default>gamuza</default>
                <fallback>magento2</fallback>
            </theme>
        </design>
        <catalog>
            <frontend>
                <list_allow_all>1</list_allow_all>
                <flat_catalog_category>1</flat_catalog_category>
                <flat_catalog_product>1</flat_catalog_product>
            </frontend>
            <product_image>
                <use_original>1</use_original>
            </product_image>
            <search>
                <search_type>3</search_type>
            </search>
            <seo>
                <save_rewrites_history>0</save_rewrites_history>
            </seo>
            <custom_options>
                <date_fields_order><![CDATA[d,m,y]]></date_fields_order>
                <time_format>24h</time_format>
            </custom_options>
        </catalog>
        <cataloginventory>
            <options>
                <show_out_of_stock>1</show_out_of_stock>
            </options>
            <item_options>
                <auto_return>1</auto_return>
            </item_options>
        </cataloginventory>
        <customer>
            <account_share>
                <scope>0</scope>
            </account_share>
            <create_account>
                <email_domain><![CDATA[toluca.com.br]]></email_domain>
                <confirm>0</confirm>
                <generate_human_friendly_email>1</generate_human_friendly_email>
            </create_account>
            <online_customers>
                <online_minutes_interval>1</online_minutes_interval>
            </online_customers>
            <password>
                <require_admin_user_to_change_user_password>0</require_admin_user_to_change_user_password>
            </password>
            <address>
                <street_lines>4</street_lines>
                <prefix_show>0</prefix_show>
                <middlename_show>0</middlename_show>
                <suffix_show>0</suffix_show>
            </address>
            <address_templates>
                <text>{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}
{{depend company}}{{var company}}{{/depend}}
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}{{/depend}}
{{depend street3}}{{var street3}}{{/depend}}
{{depend street4}}{{var street4}}{{/depend}}
{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}
{{var country}}
{{depend cellphone}}C: {{var cellphone}}{{/depend}}
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}F: {{var fax}}{{/depend}}
{{depend vat_id}}VAT: {{var vat_id}}{{/depend}}</text>
                <oneline>{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}, {{var street}}, {{var city}}, {{var region}} {{var postcode}}, {{var country}}, {{var cellphone}}</oneline>
                <html><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{depend company}}{{var company}}<br />{{/depend}}
{{if street1}}{{var street1}}<br />{{/if}}
{{depend street2}}{{var street2}}<br />{{/depend}}
{{depend street3}}{{var street3}}<br />{{/depend}}
{{depend street4}}{{var street4}}<br />{{/depend}}
{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}<br/>
{{var country}}<br/>
{{depend cellphone}}C: {{var cellphone}}{{/depend}}
{{depend telephone}}<br/>T: {{var telephone}}{{/depend}}
{{depend fax}}<br/>F: {{var fax}}{{/depend}}
{{depend vat_id}}<br/>VAT: {{var vat_id}}{{/depend}}]]></html>
                <pdf><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}|
{{depend company}}{{var company}}|{{/depend}}
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{if city}}{{var city}},|{{/if}}
{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}|
{{var country}}|
{{depend cellphone}}C: {{var cellphone}}{{/depend}}|
{{depend telephone}}<br/>T: {{var telephone}}{{/depend}}|
{{depend fax}}<br/>F: {{var fax}}{{/depend}}|
{{depend vat_id}}<br/>VAT: {{var vat_id}}{{/depend}}|]]></pdf>
                <js_template><![CDATA[#{prefix} #{firstname} #{middlename} #{lastname} #{suffix}<br/>#{company}<br/>#{street0}<br/>#{street1}<br/>#{street2}<br/>#{street3}<br/>#{city}, #{region}, #{postcode}<br/>#{country_id}<br/>C: #{cellphone}<br/>T: #{telephone}<br/>F: #{fax}<br/>VAT: #{vat_id}]]></js_template>
            </address_templates>
        </customer>
        <wishlist>
            <general>
                <active>0</active>
            </general>
        </wishlist>
        <sales>
            <minimum_order>
                <active>1</active>
                <amount>0</amount>
            </minimum_order>
            <gift_options>
                <allow_order>0</allow_order>
                <allow_items>0</allow_items>
            </gift_options>
        </sales>
        <!--
        <sales_email>
            <order>
                <enabled>0</enabled>
            </order>
            <order_comment>
                <enabled>0</enabled>
            </order_comment>
            <invoice>
                <enabled>0</enabled>
            </invoice>
            <invoice_comment>
                <enabled>0</enabled>
            </invoice_comment>
            <shipment>
                <enabled>0</enabled>
            </shipment>
            <shipment_comment>
                <enabled>0</enabled>
            </shipment_comment>
            <creditmemo>
                <enabled>0</enabled>
            </creditmemo>
            <creditmemo_comment>
                <enabled>0</enabled>
            </creditmemo_comment>
        </sales_email>
        -->
        <tax>
            <defaults>
                <country>BR</country>
            </defaults>
        </tax>
        <shipping>
            <origin>
                <country_id>BR</country_id>
            </origin>
            <option>
                <checkout_multiple>0</checkout_multiple>
            </option>
        </shipping>
        <admin>
            <startup>
                <page>sales/order</page>
            </startup>
            <security>
                <session_cookie_lifetime>86400</session_cookie_lifetime>
                <validate_formkey_checkout>1</validate_formkey_checkout>
            </security>
            <sales>
                <grid_auto_reload>0</grid_auto_reload>
            </sales>
        </admin>
        <hints>
            <store_switcher>
                <url/>
                <enabled>0</enabled>
            </store_switcher>
        </hints>
        <system>
            <cron>
                <enableRunNow>1</enableRunNow>
                <showCronUserMessage>0</showCronUserMessage>
            </cron>
            <log>
                <enable_log>1</enable_log>
            </log>
            <adminnotification>
                <feed_url>www.toluca.com.br/media/sitemap/notifications.rss</feed_url>
                <popup_url>www.toluca.com.br/notificationPopup</popup_url>
                <severity_icons_url>www.toluca.com.br/media/widgets/%s/%s.gif</severity_icons_url>
                <use_https>1</use_https>
            </adminnotification>
            <backup>
                <enabled>1</enabled>
                <type>db</type>
                <maintenance>0</maintenance>
            </backup>
        </system>
        <advanced>
            <modules_disable_output>
                <Mage_Backup>0</Mage_Backup>
            </modules_disable_output>
        </advanced>
        <dev>
            <js>
                <merge_files>1</merge_files>
            </js>
            <css>
                <merge_css_files>1</merge_css_files>
            </css>
        </dev>
        <carriers>
            <pickup>
                <active>1</active>
                <title>Store Pickup</title>
                <name>pickup</name>
                <sallowspecific>0</sallowspecific>
                <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
                <model>basic/shipping_carrier_pickup</model>
            </pickup>
            <flatrate>
                <active>1</active>
                <type>O</type>
            </flatrate>
            <tablerate>
                <active>1</active>
                <handling_action>O</handling_action>
                <model>basic/shipping_carrier_tablerate</model>
            </tablerate>
            <freeshipping>
                <active>1</active>
                <free_shipping_subtotal>1000000000</free_shipping_subtotal>
            </freeshipping>
        </carriers>
        <payment>
            <cashondelivery>
                <active>1</active>
            </cashondelivery>
        </payment>
    </default>
</config>

