<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package     Gamuza_Basic
 * @copyright   Copyright (c) 2016 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Library General Public
 * License as published by the Free Software Foundation; either
 * version 2 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Library General Public License for more details.
 *
 * You should have received a copy of the GNU Library General Public
 * License along with this library; if not, write to the
 * Free Software Foundation, Inc., 51 Franklin St, Fifth Floor,
 * Boston, MA 02110-1301, USA.
 */

/**
 * See the AUTHORS file for a list of people on the Gamuza Team.
 * See the ChangeLog files for a list of changes.
 * These files are distributed with gamuza_basic-magento at http://github.com/gamuzatech/.
 */
-->

<config>
    <tabs>
        <gamuza translate="label" module="jsonapi">
            <label>Gamuza</label>
            <sort_order>0</sort_order>
        </gamuza>
    </tabs>
    <sections>
        <general>
            <groups>
                <store_information>
                    <fields>
                        <code translate="label" module="basic">
                            <label>Code</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </code>
                    </fields>
                </store_information>
            </groups>
        </general>
        <shipping>
            <tab>gamuza</tab>
            <groups>
                <origin translate="label" module="basic">
                    <fields>
                        <street_line1 translate="label" module="basic">
                            <label>Street Address Line 1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </street_line1>
                        <street_line2 translate="label" module="basic">
                            <label>Street Address Line 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </street_line2>
                        <street_line3 translate="label" module="basic">
                            <label>Street Address Line 3</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </street_line3>
                        <street_line4 translate="label" module="basic">
                            <label>Street Address Line 4</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </street_line4>
                    </fields>
                </origin>
            </groups>
        </shipping>
    </sections>
</config>

